@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Nunito&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans';
}

/* ********HEADER********** */

nav {
    border-bottom: 1px solid #666;
    
}
.navbar-brand {
    font-weight: bolder;
    margin-right: 5rem;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.cart-item {
    
}

.avatar-img {
    width: 25px;
    height: 25px;
}

/* ************MAIN************** */


.main-visual {
    border-radius: 10px;
}

.product-img {
    border-radius: 5px;
}

.thumbs {
    width: 70px;
    height: 70px;
}

.thumbs img {
    border-radius: 5px;
    cursor: pointer;
}

.active {
    opacity: 0.5;
}

.discount {
    padding: 0.1rem 0.3rem;
    font-weight: bolder;
    border-radius: 10px;
}

.qty-container {
    padding: 0.5rem 1.5rem;
    background: hsl(223, 64%, 98%);
    border-radius: 5px;
}

.qty-container i {
    cursor: pointer;
    font-size: 20px;
}

/* MEDIA QUERY */
@media screen and (max-width:990px) {

    .thumbs img {
        width: 2rem;
        height: 2rem;
    }
}