@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Nunito&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans';
}

/* ********HEADER********** */

nav {
    border-bottom: 1px solid #666;
    
}
.navbar-brand {
    font-weight: bolder;
    margin-right: 5rem;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

div.menulinks a:hover {
    
    border-bottom: 3px solid hsl(26, 100%, 55%);
}

#cart {
    position: relative;
}

#cart:hover .cart-overview {
    display: block;
}

div.cart-overview {
    position: absolute;
    background-color: #fff;
    display: none;
    width: 15rem;
    height: 8rem;
    left: -6rem;
    top: 2.5rem;

    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 2px 2px 5px rgba(94, 104, 121, 0.3);
}

.avatar-img {
    width: 25px;
    height: 25px;
}

#avatar {
    position: relative;
}

#avatar:hover div.avatar-overview ul {
    display: block;
}

div.avatar-overview ul {
    position: absolute;
    background-color: #fff;
    display: none;
    width: 10rem;
    height: 8rem;
    left: -2rem;
    top: 2.5rem;

    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 2px 2px 5px rgba(94, 104, 121, 0.3);

    list-style-type: none;
}

div.avatar-overview li {
    color: #000;
    font-weight: bold;
    padding: 0.5rem 0;
}
/* ************MAIN************** */
main {
    display: flex;
}

.visuals {
    width: 40%;
}

.product-details {
    width: 60%;
    margin-top: 2rem;
}

.main-visual {
    position: relative;
    
    top: 0;
    left: 0;
}

.main-img {
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}

.product-img {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    
}

.thumbs {
    width: 70px;
    height: 70px;
}

.thumbs img {
    border-radius: 5px;
    cursor: pointer;
}

.thumbs img:hover {
    opacity: 0.6;
}

.active {
    opacity: 0.5;
    border: 3px solid hsl(26, 100%, 55%);
}

.discount {
    padding: 0.1rem 0.3rem;
    font-weight: bolder;
    border-radius: 10px;
}

.qty-container {
    padding: 0.5rem 1.5rem;
    background: hsl(223, 64%, 98%);
    border-radius: 5px;
}

.qty-container i {
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    opacity: 0.3;
}

/* MEDIA QUERY */
@media screen and (max-width:990px) {

    .thumbs img {
        width: 2rem;
        height: 2rem;
    }
}

@media screen and (max-width: 376px) {
    .menulinks {
        flex-direction: column;
        
        align-items: center;
    }

    .cart-overview, 
    .avatar-overview ul {
        z-index: 5;
    }

    main {
        flex-direction: column;
        
        align-items: center;
    }

    .visuals {
        width: 100%;
        margin-left: 2.9rem;
        margin-bottom: 0;
        height: 352px;
        
    }

    .main-img {
        width: 100%;
        margin-bottom: 0;
    }

    .thumbs {
        display: none;
    }

    .thumbs img {
        display: none;
    }

    .product-details {
        
        width: 100%;
        margin-top: 1rem;
    }

    .product-details h6 {
        padding-top: 0;
        margin-top: 0;
    }

    .pricing-details {
        display: flex;
        margin: 1rem 0;
        
    }

    .discount {
        
        padding: 0.2rem 0.3rem;
    }

    .former-price {
        margin-left: 8rem;
    }

    div.checkout-stuff {
        width: 100%;
        flex-direction: column;

    }

    .qty-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;

    }
}